<div class="flex flex-row h-screen">
    <div class="basis-1/2 flex flex-col justify-center items-start text-7xl pl-16 pr-8">
        <!-- designer details -->
        <span>
            Hi there!
        </span>
        <span>
            I'm <span class="text-red-500">Nabel</span>
        </span>
        <span class="bg-red-500 text-lg rounded-sm py-1">
            Motion Graphic Designer
        </span>
        <span class="text-sm py-1">
            I'm a motion graphic designer with 3 years of experience in the industry. I specialize in creating visually
            stunning and engaging motion graphics for a wide range of projects, including commercials, music videos, and
            corporate presentations.
        </span>
    </div>
    <div class="basis-1/2">
        <!-- designer image -->
        <img src="assets/images/default.webp" alt="my-image" class="h-full" />
    </div>
</div>